<div class="host" [ngClass]="{'host-docked': scene!=='intro' || scene==='main'}">
  <div>
    Ryder Donahue
  </div>
  <spacer class="width-100" [ngClass]="{'spacer-docked': scene!=='intro'}"></spacer>
  <div class="row">
    <ryd-icon [size]="size" [link]="'https://www.linkedin.com/in/ryder-donahue'" [ngClass]="{'icons-docked': scene!=='intro'}"
      class="icons" source=".\\assets\\icons\\linkedin.png" delay=0></ryd-icon>
    <ryd-icon [size]="size" [link]="'https://twitter.com/RyderDonahue'" [ngClass]="{'icons-docked': scene!=='intro'}" class="icons"
      source=".\\assets\\icons\\twitter.png" delay=250></ryd-icon>
    <ryd-icon [size]="size" [link]="'https://github.com/ryderdonahue'" [ngClass]="{'icons-docked': scene!=='intro'}" class="icons"
      source=".\\assets\\icons\\github.png" delay=500></ryd-icon>
  </div>
</div>
