<div class="host">
  <canvas id="background-canvas" class="site-canvas">
  </canvas>
  <site-title>
  </site-title>
  <graphic-text class="bio-intro" *ngIf="core.scene.value === 'intro'" [textString]="bioIntro" [ngClass]="{'bio-hide': core.scene.value !== 'intro'}"
    [speed]='50'></graphic-text>
  <div *ngIf="showSeeWork" (click)="showWork()" class="see-work" [ngClass]="{'see-work-transition': transition}">
    <spacer></spacer>
    See work
  </div>
 <work-history *ngIf="showWorkHistory"></work-history>
</div>