.host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: -10px;
}

div {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.item {
    width: 200px;
    height: 22px;
}

input {
    background: black;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.width-100 {
    width: 100%;
}

.site-canvas {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: -1
}

.bio-intro {
    width: 380px;
    margin-top: 15px;
    transition: all 200ms ease-in-out;
    opacity: 1;
}

.bio-hide {
    opacity: 0;
}

.see-work {
    text-align: center;
    width: 450px;
    margin-top: 100px;
    animation-name: fade-in;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    font-size: 14px;
    cursor: pointer;
}

.menu-bar {
    text-align: center;
    margin-top: 5px;
    width: 500px;
    animation-name: menu-grow;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    font-size: 14px;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes menu-grow {
    0% {
        margin-top: 100px;
        width: 450px;
    }
    100% {
        margin-top: 5px;
        width: 500px;
    }
}

.icon {
    background-size: contain;
    opacity: 0;
    margin: 0px 10px;
    top: -20px;
    position: relative;
    height: 100%;
    width: 100%;
}

.sub-content-area {
    overflow-y: scroll;
    height: calc(100vh - 150px);
    scroll-behavior: smooth;
}

.cheap-fade {
    background-image: url(./assets/img/cheap-fade.png);
    width: 100%;
    height: 100px;
    position: absolute;
    top: 137px;
}

.cheap-fade-bottom {
    background-image: url(./assets/img/cheap-fade.png);
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0px;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.sub-content-area::-webkit-scrollbar-track {
    border-radius: 8px;
}

.sub-content-area::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.sub-content-area::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #333;
}

.sub-page {
    margin-top: 64px;
    margin-bottom: 100px;
}

.sub-page-image {
    background-repeat: no-repeat;
    background-position-x: 50%;
    width: 646px;
}

.sub-page-text {
    max-width: 600px;
    margin-left: 20px;
    align-items: center;
}

.job-title {
    font-size: 18px;
    margin-left: 15px;
}

.products-title {
    font-size: 16px;
    text-align: right;
    width: 80px;
    margin-right: 12px;
}

.description {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 14px 0px;
}